
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-black: #0C0C0C;
    --color-accent: #5E8AFD;
    --color-lightGray: #FCFCFC;
}

h1, h2 {font-family: 'Exo 2', sans-serif}
h1 {font-size: 48px}
h2 {font-size: 36px}
p {font-size: 26px}
button, a {font-size: 18px}
a {text-decoration: none; color: var(--color-black)}

.container{
    max-width: 86%;
    margin: 0 auto;
}
.header {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__text {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-black);
}
.logo__text_blue {
    color: var(--color-accent);
}
.menu {
    max-width: 571px;
    width: 100%;
    height: 100%;
}
.menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}
.menu__text {
    position: relative;
}
.menu__text::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: var(--color-accent);
    height: 2px;
    width: 0;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    -ms-transition: width .3s ease;
    -o-transition: width .3s ease;
}
.menu__text:hover::after {width: 100%;}
.menu__link {
    font-size: 18px;
}
.header__contacts {
    display: flex;
    max-width: 410px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header__phone {
    color: var(--color-accent);
    font-size: 18px;
    font-weight: 400;
}
.header__btn {
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: var(--color-accent);
    padding: 15px 25px;
    font-size: 18px;
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
}
.header__btn:hover {
    background-color: #3f6ee6;
}
.header__btn:focus {
    outline: 3px solid #b3c9ff;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 150px;
}
.main__wrapper {
    width: 100%;
    margin-top: -150px
}
.main__bg-img {
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: -2;
}
.main__title {
    color: var(--color-accent);
    max-width: 870px;
    line-height: 120%;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.main__under-title {
    max-width: 655px;
    color: var(--color-black);
    line-height: 130%;
    margin-bottom: 50px
}
.main__btn {
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: var(--color-accent);
    padding: 15px 25px;
    font-size: 18px;
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
}
.main__btn:hover {
    background-color: #3f6ee6;
}
.main__btn:focus {
    outline: 3px solid #b3c9ff;
}
.section-title {
    font-size: 36px;
    text-transform: uppercase;
    color: var(--color-accent);
    font-weight: bold;
    margin-bottom: 30px;
}
.about-company {
    background-image: url('../img/about-company-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 50px;
    margin-bottom: 200px;
}
.about-company__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-company__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.about-company__info-block:nth-child(1) {max-width: 661px;}
.about-company__info-block:nth-child(2) {max-width: 780px;}
.about-company__text {
    line-height: 40px;
    font-size: 26px;
    color: #fff;
}
.about-company__text:nth-child(1) {margin-bottom: 61px}
.about-company__text:nth-child(2) {margin-top: 46px}
.about-company__circle{
    height: 140px;
    width: 140px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
}
.about-company__circle-num{
    font-family: 'Exo 2', sans-serif;
    color: var(--color-accent);
    font-size: 80px;
}
.advantages {
    margin-bottom: 200px;
}
.advantages__title {
    margin-bottom: 90px;
}
.advantages__items {
    display: flex;
    align-items: center;
    width: 100%;
}
.advantages__btn {
    width: 100%;
    border: none;
    background-color: var(--color-lightGray);
    color: #B3B3B3;
    font-weight: bold;
    padding: 25px 0;
    cursor: pointer;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
}
.advantages__btn:not(:last-child) {
    border-right: 1px solid rgba(179, 179, 179, 0.4);
}
.advantages__btn:hover {
    background-color: #f1f1f1;
}
.advantages__btn-active {
    background-color: var(--color-accent);
    color: #fff;
}
.advantages__btn.advantages__btn-active:hover {
    background-color: #3f6ee6;
}
.advantages__content {
    position: relative;
    margin-top: 90px;
}
.advantages__content-block {
    display: flex;
}
.advantages__content-img {
    margin-right: 5%;
}
.advantages__content-text {
    line-height: 150%;
    max-width: 1200px;
    margin-top: 30px;
}
.advantages__content_hidden {
    position: absolute;
    opacity: 0;
    top: 0
}
.services {

}
.services__card {
    background-color: var(--color-lightGray);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 550px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer;
    position: relative;
}
.services__card:hover {
    color: #fff;
    background-color: var(--color-accent);
}
.services__card:hover .services__card-name, .services__card:hover .services__card-descr {
    color: #fff;
}
.services__card:hover.services__card::before {
    width: 100%;
    height: 100%; 

}

.services__card:hover .services__card-btn {
    display: block;
}
.services__card-name {
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-black);
    margin-bottom: 20px;
}
.services__card-descr {
    max-width: 500px;
    color: var(--color-black);
    margin-bottom: 20px;
}
.services__card-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    align-self: flex-end;
    display: none;
}

